
  <ul id="navbar">
    <li><a href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
   <form>
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0 m-4 border-0 bg-transparent" id="signup"><a routerLink="/register">Sign Up</a></button>
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0 m-4 border-0 bg-transparent" id="Login"><a routerLink="/Login">Login</a></button>
</form>
  </ul>
  
 
  <body background="assets/logo.png">

    <router-outlet></router-outlet>

  </body>
 
 